

/* PEDAZO DE CODIGO TOMADO DEL INDEX */


#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu ul {               /*tamaño  de la barra hacia abajo*/
  background: #333333;
  height: 35px;
  list-style: none;
  margin: 1px;
  padding: 0;
  
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-o-border-radius: 5px 5px 5px 5px;
}
#cssmenu li { /*posicion de elementos de la barra*/
  float: left;
  padding: 0px;
}
#cssmenu li a {  /* estilo para los botones de la barra de menu */
  background: #333333 url('images/seperator.png') bottom right no-repeat;
  display: #333333;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a { 
  color: #FFFFFF;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #2580a2 url('images/hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
  
}
#cssmenu li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url('images/sub_sep.png') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #2580a2 url('images/hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
  
}
#cssmenu p {
  clear: left;
}


*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}h1,h2,h3,h4,h5,h6,pre,code {font-size:1em;}a img{border:0} 
body { font: .7em "Trebuchet MS", Tahoma, Arial, Sans-Serif; background: #eee url(../images/bg.gif) repeat-x; color: #777; }
a { text-decoration: none; color: #6796CE; }
	a:hover { color: #45134A; }
p  { margin: 0 0 15px; line-height: 1.64em; }
#wrap { margin: 20px auto 0; width: 979px; }

.clear { clear: both; }

#logo { float: left; margin: 35px 0 0 400px; height: 89px; }
	#logo a:hover { border-bottom: 1px solid #222; }
	#logo p { padding: 2px 0 0 4px; font-size: .9em; color: #555; }
	#logo h1 { font-size: 2.6em; margin: 0; text-shadow: 1px 1px 1px #000; }
		#logo h1 a { color: #fff; }

	#explore { float: right; margin: 130px 5px 0 0; }
		#explore-link { float: left; height: 25px; padding: 9px 0 0 20px; width: 106px; color: #808080; background: url(../images/explore.gif) no-repeat; }
			#explore-link:hover { color: #fff; }

			/*#login { float: right; margin: 130px 5px 0 0; }
		#login-1 { float: left; height: 25px; padding: 9px 0 0 20px; width: 106px; color: #808080; }*/

		
	#content-top { clear: both; height: 5px; background: url(../images/content-top.gif) no-repeat; position: relative; margin: 0 !important; margin: -14px 0 0; }
	#content-middle { padding: 0 25px 25px; background: url(../images/content-middle.gif) repeat-y; }
	#content-bottom { clear: both; padding: 6px 0 7px; background: url(../images/content-bottom.gif) no-repeat left bottom; }
	#pitch { text-shadow: 1px 1px 1px #3F6AA2; background: url(../images/pitch.jpg) no-repeat; height: 159px; padding: 50px 40px 0 30px; position: relative; margin: 0 -7px 30px; font-size: 1.3em; font-style: italic; color: #fff;  }
		#pitch h1 { float: left; line-height: 1.3em; font-style: normal; font-size: 1.7em; width: 260px; padding: 0 40px 0 0; height: 150px; font-weight: normal; text-transform: uppercase; }
			#pitch h1 span { font-size: 1.2em; text-transform: lowercase; font-size: .6em; font-style: italic; color: #F4EDC1; }


	
#footer { padding: 20px; color: #999; }
	#links { float: right; }
		#links a { margin: 0 0 0 15px; }